@mixin animate-fadein($time, $x-move: 0, $y-move: 0, $opc: 0) {
  animation: fadein $time ease-in-out;

  @keyframes fadein {
    0% {
      opacity: $opc;
      transform: translate($x-move, $y-move);
    }
    85% {
      transform: translate(0, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}